*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.hero{
    height: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
    background-size: cover;
    position: absolute;
    
}

.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background:#fff;
    padding:5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #6e63ff,#719dd8);
    border-radius: 30px;
    transition: .5;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #6e63ff,#719dd8);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;

}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .Title{
    background-color: #777;
    text-align:center;
    border-bottom: 3px solid #111;
  }